# Database
POSTGRES_USER=forensichain
POSTGRES_PASSWORD=forensichain123
POSTGRES_DB=forensichain
DATABASE_URL="postgresql://forensichain:forensichain123@localhost:5432/forensichain?schema=public"

# Backend
PORT=3001
JWT_SECRET=super_secret_jwt_key_for_development_only

# Blockchain (Hardhat local network)
BLOCKCHAIN_RPC_URL="http://127.0.0.1:8545"
# Example Hardhat Account #0 private key
BLOCKCHAIN_PRIVATE_KEY="0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80"
CONTRACT_ADDRESS=""

# Storage
STORAGE_PATH="../storage"
